<div id="wrapper" class="loginScreens">
  <app-header></app-header>
    <div class="codeVerification cf">
      <form class="codeVerificationForm cf txtCenter">
        <div class="regTitles">
          <h4>TWO-STEP VERIFICATION</h4>
          <h3>Please enter the code that has been sent to phone number ending in:</h3>
          <span class="phoneEndingNumber">321</span> </div>
        <div class="formControls">
          <div class="row">
            <div class="cols12">
              <div class="otpInput">
                <input type="text" id="otpPin" class="otpPin" placeholder=""  maxlength="1"/>
                <input type="text" id="otpPin" class="otpPin" placeholder=""  maxlength="1"/>
                <input type="text" id="otpPin" class="otpPin" placeholder=""  maxlength="1"/>
                <input type="text" id="otpPin" class="otpPin" placeholder=""  maxlength="1"/>
                <input type="text" id="otpPin" class="otpPin" placeholder=""  maxlength="1"/>
                <input type="text" id="otpPin" class="otpPin" placeholder=""  maxlength="1"/>
                <div class="optTime colorGreen"><i class="fas fa-check"></i></div>
              </div>
            </div>
            <p class="didntGetmsg">Didn’t get the text message?<br>
              <a href="#" class="link sendCode">Send the code again</a></p>
            <div class="cols12 fieldRow txtLeft">
              <div class="form-group mrgB10">
                <input type="checkbox" name="Two-Step Veriﬁcation" id="emailTwoStep">
                <label for="emailTwoStep">I prefer to use my email for Two-Step Veriﬁcation.</label>
                <a href="#" class="link rsndPin txtRight">Resend code</a> </div>
              <div class="form-group mrgB10">
                <input type="checkbox" name="Don’t ask for codes" id="dontAskCode">
                <label for="dontAskCode">Don’t ask for codes on this device.</label>
              </div>
            </div>
          </div>
          <div class="cf nextBtnSec"> <span class="setComplete">Account Setup Complete.</span>
            <h4>Let’s connect a Marketplace.</h4>
            <div class="buttonSet mrgT10">
              <input type="submit" class="button payBtn" value="YES, LET’S"/>
              <a class="link linkblk" href="#">Skip</a> </div>
          </div>
        </div>
      </form>
    </div>
  <footer class="footer cf"></footer>
</div>