<div id="wrapper" class="loginScreens">
  <app-header></app-header>
  <div class="loginContainer cf">
    <form class="loginForm">
      <div class="loginLogo txtCenter"><img src="../assets/images/logo-login.png"/></div>
      <h4 class="txtCenter mrgB20 mrgT20">SIGN IN</h4>
      <div class="loginForm cf">
        <div class="formControls">
          <div class="row">
            <div class="cols12 mrgB30">
              <input type="text" id="emailID" class="loginInput" placeholder="Mobile Number or Email ID" />
            </div>
            <div class="cols12">
              <input type="password" id="pass" placeholder="Password" class="loginPasInput" />
            </div>
          </div>
          <div class="row">
            <div class="cols6 txtLeft mrgT20"> <span class="form-group">
              <input type="checkbox" name="remember" id="rememberMe">
              <label for="rememberMe">Remember Me</label>
              </span> </div>
            <div class="cols6 txtRight mrgT20"> <a href="#" class="forgotPass">Forgot your Password</a> </div>
          </div>
          <div class="cf txtCenter">
            <input type="submit" class="button payBtn cols12" value="SIGN IN"/>
          </div>
        </div>
      </div>
      <div class="signUp txtCenter">
        <p class="mrgB20">New to SellerChain?</p>
        <h4 class="txtCenter mrgBNone">SIGN UP</h4>
        <div class="cf txtCenter">
          <input type="submit" class="button payBtn cols12 signBtn" value="YES, PLEASE"/>
        </div>
      </div>
    </form>
  </div>
  <footer class="footer cf"></footer>
</div>