<header class="header cf">
  <div class="cols6 headerLeft"><a href="#" class="logo"><img src="../assets/images/logo.png" alt="SellerChain"/></a></div>
  <div class="cols6 headerRight">
    <div class="topNavRight">
      <div class="welcomeMessage">Good Morning <span id="userName">Naftali</span></div>
      <ul class="userActivityList">
        <li><a href="#" class="userIcon userNotification"></a></li>
        <li><a href="#" class="userIcon userProfileIcon"></a></li>
        <li><a href="#" class="userIcon userSetting"></a></li>
      </ul>
    </div>
  </div>
</header>