<div id="wrapper" class="loginScreens">
  <app-header></app-header>
  <div class="signUpContainer cf">
    <form class="signUpForm cf">
      <div class="regTitles">
        <h3>Get started for free. It’s easy.</h3>
        <h4>SIGN UP</h4>
      </div>
      <div class="formControls">
        <div class="userSetup">
          <h3 class="signTitle">USER SETUP</h3>
          <div class="row">
            <div class="cols12 fieldRow">
              <input type="text" id="emailID" />
              <div class="inputField">
                <label for="emailID">Email Address</label>
              </div>
            </div>
            <div class="cols12 fieldRow">
              <div class="rowButtonPass">
                <input type="password" id="passWord" />
                <div class="inputField">
                  <label for="passWord">Password</label>
                </div>
              </div>
              <input type="submit" class="button payBtn autoGenBtn" value="AUTO-GENERATE"/>
              <span class='passConfirmedMsg'></span> </div>
            <div class="cols12 fieldRow">
              <input type="password" id="confirmPass" />
              <div class="inputField">
                <label for="confirmPass">Confirm Password</label>
              </div>
              <span class='passConfirmedMsg'></span> </div>
          </div>
        </div>
        <div class="userSetup userProfiled">
          <h3 class="signTitle">Profile</h3>
          <div class="row">
            <div class="cols12 fieldRow">
              <input type="text" id="company" />
              <div class="inputField">
                <label for="company">Company <em class="colorRed">*</em></label>
              </div>
            </div>
            <div class="cols12 fieldRow">
              <input type="text" id="phoneNumber" />
              <div class="inputField">
                <label for="phoneNumber">Phone Number <em class="colorRed">*</em></label>
              </div>
            </div>
            <div class="cols12 fieldRow">
              <input type="text" id="userFirstName" />
              <div class="inputField">
                <label for="userFirstName">User First Name <em class="colorRed">*</em></label>
              </div>
            </div>
            <div class="cols12 fieldRow">
              <input type="text" id="userLastName" />
              <div class="inputField">
                <label for="userLastName">User Last Name <em class="colorRed">*</em></label>
              </div>
            </div>
            <div class="cols12 fieldRow">
              <input type="text" id="jobDescription" />
              <div class="inputField">
                <label for="jobDescription">Job Description</label>
              </div>
              <p class="mrgT20 mrgBNone"><em class="colorRed">*</em> Required Field</p>
            </div>
          </div>
        </div>
        <div class="userSetup userSecurity">
          <h3 class="signTitle">Security</h3>
          <div class="row">
            <div class="cols12 fieldRow">
              <input type="text" id="mobileNumber" />
              <div class="inputField">
                <label for="mobileNumber">Mobile Phone <em class="colorGreen">*</em></label>
              </div>
              <p class="mrgT20 mrgBNone"><em class="colorGreen">*</em> Required for Two-Step Security Veriﬁcation.</p>
            </div>
            <div class="cols12 fieldRow">
              <div class="form-group">
                <input type="checkbox" name="Accept TnC" id="acceptTnC">
                <label for="acceptTnC">I accept the </label>
                <a href="#" class="link">Terms of Service</a> & <a href="#" class="link">Privacy Policy</a> </div>
            </div>
          </div>
        </div>
        <div class="cf nextBtnSec txtCenter">
          <h4>Almost there.</h4>
          <input type="submit" class="button payBtn nextBtn" value="NEXT"/>
          <p class="mrgT30">Already have an account?<br/>
            <a href="#" class="link">Sign In</a> <span>here.</span></p>
        </div>
      </div>
    </form>
  </div>
  <footer class="footer cf"></footer>
</div>
