
<div id="wrapper">
  <app-header></app-header>
  <div id="content">
    <div class="sideBar">
      <div class="userProfile">
        <div class="navIcon userImage"></div>
        <div class="userDtlToggle"> <a href="" class="editProfile"></a>
          <h3>Naftali</h3>
          <h4>Admin</h4>
          <ul class="usrContact">
            <li> <a href="#"> <span class="contIcon mobileIcon"></span> +1234567890 </a> </li>
            <li> <a href="mailto:williamharrison@gmail.com"> <span class="contIcon mailIcon"></span> naftali@sellerchain.com </a> </li>
          </ul>
        </div>
      </div>
      <ul class="navigation">
        <li class="activePage"> <span class="navIcon navIcon1"></span>
          <ul class="subMenu">
            <li> <a href="#"> Dashboard </a> </li>
          </ul>
        </li>
        <li> <span class="navIcon navIcon2"></span>
          <ul class="subMenu">
            <li> <a href="#"> Products </a> </li>
          </ul>
        </li>
        <li> <span class="navIcon navIcon3"></span>
          <ul class="subMenu">
            <li> <a href="#"> Incentives </a> </li>
            <li> <a href="#"> Commission </a> </li>
            <li> <a href="#"> Rebates </a> </li>
            <li> <a href="#"> Royalties </a> </li>
            <li> <a href="#"> Billbacks & Chargebacks </a> </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="rightBar">
      <div class="breadcrumb">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Breadcrumb</a></li>
          <li>Breadcrumb</li>
        </ul>
      </div>
      <div class="welcomeMsgRow">
        <div class="welcomeMsg">
          <h3>Welcome to SellerChain.</h3>
          <p>You don’t have any Marketplaces connected yet. <a href="#" class="link">Click here</a> to connect a Marketplace or go to Marketplace Settings in the <a href="#" class="settingsCog"><i class="fas fa-cog"></i> menu</a>.</p>
        </div>
      </div>
      <div class="rightBlock">
        <div class="contentRow cf">
          <div class="statisticBlock">
            <div class="row">
              <div class="cols6">
                <div class="reportBlockMain txtCenter">
                  <div class="iconSyring color1"><i class="fas fa-syringe"></i></div>
                  <div class="blockText">
                    <h4><span class="color1">BLEED REPORT</span>&trade; <strong>APP</strong></h4>
                    <p>FBA STORAGE FEES</p>
                  </div>
                </div>
              </div>
              <div class="cols6">
                <div class="reportBlockDashboard boxShadow">
                  <div class="cols6 todaysDate txtCenter"> <strong class="transparentColor">TODAY<br>
                    <span id="todayDay" class="dateDay">Sunday</span><span id="todayDate" class="dateDay">January 27, 2019</span></strong> </div>
                  <div class="cols6 ordeDetails txtCenter">
                    <h4 class="totalTitle">TOTAL</h4>
                    <div class="tlSkus"><strong>277,500</strong> <span class="skus">SKUs</span></div>
                    <p class="totalUnints">( <strong>2,575,500</strong> UNITS )</p>
                    <h4 class="totalTitle">IN STORAGE</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="cf"></div>
          </div>
          <div class="reportsSection">
            <ul class="reportListDetails txtCenter">
              <li>
                <div class="tlSkus"><strong class="color1">250,000</strong> <span class="skus">SKUs</span></div>
                <p class="totalUnints">( 934,500 UNITS )</p>
                <h4 class="totalTitle">INCURRING <strong>STANDARD</strong> STORAGE FEES</h4>
                <h5 class="totalTitle topbrdr">TOTAL <strong>STANDARD</strong> FEES THIS MONTH</h5>
                <div class="tlSkus color1"><strong>$15,000</strong> <span class="decimalValue">.00</span></div>
              </li>
              <li>
                <div class="tlSkus"><strong class="color2">25,000</strong> <span class="skus">SKUs</span></div>
                <p class="totalUnints">( 64,500 UNITS )</p>
                <h4 class="totalTitle">INCURRING <strong>6M LONG TERM</strong> STORAGE FEES</h4>
                <h5 class="totalTitle topbrdr">TOTAL <strong>6M LTS</strong> FEES THIS MONTH</h5>
                <div class="tlSkus color2"><strong>$5,000</strong> <span class="decimalValue">.00</span></div>
              </li>
              <li>
                <div class="tlSkus"><strong class="color3">2,500</strong> <span class="skus">SKUs</span></div>
                <p class="totalUnints">( 6,500 UNITS )</p>
                <h4 class="totalTitle">INCURRING <strong>12M LONG TERM</strong> STORAGE FEES</h4>
                <h5 class="totalTitle topbrdr">TOTAL <strong>12M LTS</strong> FEES THIS MONTH</h5>
                <div class="tlSkus color3"><strong>$700</strong> <span class="decimalValue">.00</span></div>
              </li>
              <li>
                <div class="tlSkus"><strong class="color4">277,500</strong> <span class="skus">SKUs</span></div>
                <p class="totalUnints">( 2,575,500 UNITS )</p>
                <h4 class="totalTitle"><strong>TOTAL</strong><br/>
                  IN STORAGE</h4>
                <h5 class="totalTitle topbrdr"> <strong>TOTAL FEES</strong><br/>
                  THIS MONTH</h5>
                <div class="tlSkus color4"><strong>$15,000</strong> <span class="decimalValue">.00</span></div>
              </li>
            </ul>
            <div class="cf"></div>
          </div>
          <div class="recordsMonthwise">
            <div class="row">
              <div class="cols12">
                <ul class="recordMonListing">
                  <li>
                    <div class="recordContainer boxShadow">
                      <h4 class="recordTitleMon transparentColor"><strong>BLEEDING SKUs</strong></h4>
                      <h5 class="recordSkus"><strong>74</strong> SKUs</h5>
                      <ul class="selectDateYr">
                        <li>
                          <div class="selectLebel">For Month of</div>
                        </li>
                        <li>
                          <div class="customSelectOuter">
                            <select class="customSelect">
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>
                            </select>
                          </div>
                        </li>
                        <li>
                          <div class="customSelectOuter">
                            <select class="customSelect">
                              <option value="2019">2019</option>
                              <option value="2020">2020</option>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                            </select>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="recordContainer boxShadow">
                      <h4 class="recordTitleMon transparentColor"><strong>STOPPABLE BLEEDS</strong></h4>
                      <h5 class="recordSkus"><strong>17</strong> SKUs</h5>
                      <ul class="selectDateYr">
                        <li>
                          <div class="selectLebel">For Month of</div>
                        </li>
                        <li>
                          <div class="customSelectOuter">
                            <select class="customSelect">
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>
                            </select>
                          </div>
                        </li>
                        <li>
                          <div class="customSelectOuter">
                            <select class="customSelect">
                              <option value="2019">2019</option>
                              <option value="2020">2020</option>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                            </select>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="recordContainer boxShadow">
                      <h4 class="recordTitleMon transparentColor"><strong>FEES THIS YEAR</strong></h4>
                      <div class="togglerBtn"> <span class="toggle-switch"> <span class="toggle-knob"></span> </span>
                        <p>Include Long Term Fees</p>
                      </div>
                      <h5 class="recordSkus"><strong>$18,976</strong>.53</h5>
                      <div class="selectDateFromToYr">
                        <div class="dateFilter">
                          <div class="selectLebel">From</div>
                          <div class="datePicker">
                            <input name="" type="text" id="startDate" placeholder="Start Date">
                            <span class="iconCal"><i class="fas fa-calendar-alt"></i></span> </div>
                          <div class="selectLebel">To</div>
                          <div class="datePicker">
                            <input name="" type="text" id="endDate" placeholder="End Date">
                            <span class="iconCal"><i class="fas fa-calendar-alt"></i></span> </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="recordContainer boxShadow">
                      <h4 class="recordTitleMon transparentColor"><strong>LOST PROFIT</strong></h4>
                      <h5 class="recordSkus"><strong>$18,976</strong>.53</h5>
                      <ul class="selectDateYr">
                        <li>
                          <div class="selectLebel">For Month of</div>
                        </li>
                        <li>
                          <div class="customSelectOuter">
                            <select class="customSelect">
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>
                            </select>
                          </div>
                        </li>
                        <li>
                          <div class="customSelectOuter">
                            <select class="customSelect">
                              <option value="2019">2019</option>
                              <option value="2020">2020</option>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                            </select>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="cf"></div>
          </div>
          <div class="monthlyStorage">
            <div class="cols12 borderColor boxShadow">
              <h4 class="monthlyStorageTitle"><strong>MONTHLY <br>
                STORAGE<br>
                FEES</strong></h4>
              <img src="../assets/images/monthlyStorage.png" height="286" width="1400"/> </div>
          </div>
          <div class="monthlyStorage top5Bleeders">
            <div class="cols12 borderColor boxShadow">
              <ul class="bleedersList">
                <li>
                  <h4 class="bleedersTitle"><strong>Top 5 Bleeders</strong></h4>
                  <img src="../assets/images/top5Bleeders1.png" height="269" width="700"/>
                  <div class="dateAndToggler">
                    <ul class="selectDateYr">
                      <li>
                        <div class="selectLebel">For Month of</div>
                      </li>
                      <li>
                        <div class="customSelectOuter">
                          <select class="customSelect">
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                          </select>
                        </div>
                      </li>
                      <li>
                        <div class="customSelectOuter">
                          <select class="customSelect">
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                          </select>
                        </div>
                      </li>
                    </ul>
                    <div class="togglerBtn"> <span class="toggle-switch"> <span class="toggle-knob"></span> </span>
                      <p>Include Long Term Fees</p>
                    </div>
                  </div>
                </li>
                <li>
                  <h4 class="bleedersTitle"><strong>Top 5 Bleeders</strong></h4>
                  <img src="../assets/images/top5Bleeders.png" height="269" width="700"/>
                  <div class="dateAndToggler">
                    <ul class="selectDateYr">
                      <li>
                        <div class="selectLebel">For Month of</div>
                      </li>
                      <li>
                        <div class="customSelectOuter">
                          <select class="customSelect">
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                          </select>
                        </div>
                      </li>
                      <li>
                        <div class="customSelectOuter">
                          <select class="customSelect">
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                          </select>
                        </div>
                      </li>
                    </ul>
                    <div class="togglerBtn"> <span class="toggle-switch"> <span class="toggle-knob"></span> </span>
                      <p>Include Long Term Fees</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="monthlyStorage feeProfit">
            <div class="cols12 borderColor boxShadow"> <img src="../assets/images/feeProfit.png" height="314" width="1400"/> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
